* {
    padding: 0px;
    margin: 0px;
}

body{
    padding: 100px 0px;
}
nav {
    background-color: rgba(53, 228, 199, 0.659) ;
    width: 100vw;
    height: 13vh;
    position: fixed;
    margin-top: -100px;
    z-index: 50;
    opacity: 10;
}

[logo="head"] {
     border-radius: 100px;
    position: relative;
    top: 8px;
    left: 8px;
    }
     
.div-logo {
    display: inline-block;
    position: relative;
    left: 10px;
    bottom: 10px;
    color: #f52072;
    font-family: 'Fredoka One', cursive;
    font-size: 25px;
}

.input-header {
    background-color: #fff;
    line-height: 1.5;
    border-radius: 8px;
    border: 0px ;
    border-bottom: 2px solid #000;
    padding: 7px ;
    position: relative;
    left: 10%;
    top: -25px;
    outline: none;

}
.boton {
    color: #fff;
    background-color: #000;
    line-height: 1.5;
    border: 0px;
    border-radius: 8px;
    padding: 3px 7px;
    position: relative;
    left: 10%;
    top: -25px;
}
a {
    color: #000;
    text-decoration: none;
    padding: 5px;

}
a:hover {
    color: #fff;
    text-decoration: none;
    padding: 5px;
}

.barra {
    display: inline-block;
    position: relative;
    left: 20%;
    top: -20px;
    font-family:  'Londrina Solid', cursive;
    font-size: 20px;
    color: #f52072;
    

}
.lista-principal{
    background-color: #24b69e; 
    display: inline-block;
    width: 200px;
    height: 600px;
    border-radius: 8px;
    position: absolute;
    top: 140px;
    left: 60px;
    z-index: 30;


}
.encabezado {
    background-color: #f52072;
    color: #fff;
    font-family: 'Fredoka One', cursive;
    padding: 5px;
    text-align: center;
    border-radius: 8px ;
}
.encabezado:hover {
    color: #000;
    padding: 5px;
    text-align: center;
}
.lista-ul {
    font-size: 20px;
    padding: 5px;
    font-family:'Londrina Solid', cursive; ;
    text-align: center;
    color: #fff;
    
}
 
.text-principal {
    color: #f52072;
    font-size: 30px;
    font-weight: 900;
    font-family: 'Fredoka One', cursive; 
    display: inline-block;
    position: absolute;
    left: 420px;
    top: 220px;
    z-index: 32;

}

.img-comiendo {
    width: 700px;
    height: 600px;
    position: relative;
    top: 40px;
    left: 300px;
    display: inline-block;
    border-radius: 8px;
    margin-bottom: 20px;
    z-index: 31;
    
}

.aside-container{
    background-color: #24b69e;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    border-radius: 5px;
    margin: 70px 50px 50px 50px;
    width: 200px;
    height: 200px;
    padding: 20px;
    text-align: center;
    color: white;
    float: left; 
    position: relative;
    left: 50px;
    font-family: 'Londrina Solid', cursive;;
    z-index: 40;
    
}
.title_aside{
    font-size: 25px;
  }
  .icon {
    margin: auto;
    width: 50px;
    height: 50px;
}
.item_aside{
    font-size: 20px;
}

.h1-nuestrotrabajo {
    color: #f52072;
    font-family: 'Londrina Solid', cursive;
    display: inline-block;
    position: relative;
    left: 350px;
}

.caja {
    margin: 15px;
    display: flex;
    flex-wrap: wrap;

    

}
.caja div {
    width: 200px;
    height: 200px;
    border: 2px solid grey;
    display: inline;
    margin: 10px;

}
.caja div img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.flex-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f52072;
    margin: 50px 30px;
    border-radius: 8px;
}
.form {
    font-family: 'Fredoka One', cursive;/* arreglar tipografia*/ 
    min-width: 400px;
    flex: 1;
    text-align: center;
    padding: 30px;
 
}
.form_input{
    width: 100%;
    padding: 7px;
    margin: 6px 0px;
    background-color: #f52072;
    color:#fff ;
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
    font-family: 'Londrina Solid', cursive0;
}
.form_text{
    min-height: 150px;
    width: 100%;
    padding: 7px;
    margin: 6px 0px;
    background-color: #f52072;
    color: #fff;
    border: none;
    border-bottom: 2px solid #000;
    outline : none;
    resize: none;
    
}
.form_bottom{
    width: 50%;
    padding: 7px;
    margin: 6px 0px;
    background-color: #000;
    color: #fff;
    border: 0px;
    border-radius: 8px;
}
.form_input:hover {
    background-color:  #222;
    border-bottom: 2px solid #aaa; 
}
.form_text:hover {
    background-color:  #222;
    border-bottom: 2px solid #aaa; 
}

.img-contactanos{
    flex: 1;
    padding: 10px;
    display: flex;
    border-radius: 8px;
    min-width: 300px;
}

.img-contactanos img{
    width: 100%;
    border-radius: 8px;
}

    


footer {
    color: #fff;
    padding: 50px 400px;
    background-color: #f52072 ;
    width: 100vw;
    height: 5vh;
    font-family: 'Londrina Solid', cursive;
    position: fixed;
    bottom: 0px;
   
}












    